@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kalam', cursive;
}

body{
    background-color: black;
}

h1, h4, p, a{
    color: #FF006E;
    text-decoration: none;
}

ul{
  list-style-type: none;  
}

.button {
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    background: #3A86FF;
    color: #222;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
  }
  
  .button-light {
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    background: #8338EC;
    color: #222;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
  }
  
  .button:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: 0.3s;
  }

  .button-light:hover{
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: 0.3s;
  }